<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">

    <p th:unless="${events} and ${events.size()}">No Events</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Contact Email</th>
            <th>Delete Event</th>
        </tr>
        </thead>
        <tr th:each="event : ${events}">
            <div class="form-group">
                <td th:text="${event.id}"></td>
                <td th:text="${event.name}"></td>
                <td th:text="${event.eventDetails.description}"></td>
                <td th:text="${event.eventDetails.contactEmail}"></td>
                <td><input type="checkbox" name="eventIds" th:value="${event.id}" ></td>
            </div>
        </tr>
    </table>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>